<% if notice %>
  <%= render '/layouts/alerts' %>
<% end %>

<div class="bg-gray-100 w-full h-auto mt-10 px-8 py-5">
  <h1 class="text-2xl font-medium capitalize">
    <%= @friend.first_name %>
    <%= @friend.last_name %>
  </h1>
  <p class="py-4">Anim aute id magna aliqua ad ad non deserunt sunt. Qui irure qui lorem cupidatat commodo. Elit sunt amet fugiat veniam occaecat fugiat aliqua.</p>
  <div class="flex">
    <h1 class="font-medium">Email:</h1>
    <p class="pl-3">  <%= @friend.email%> </p>
  </div>
  <div class="flex">
    <h1 class="font-medium">Twitter:</h1>
    <p class="pl-3">    <%= @friend.twitter %> </p>
  </div>
  <div class="flex">
    <h1 class="font-medium">Phone:</h1>
    <p class="pl-3"> <%= @friend.phone %> </p>
  </div>


  <div class="mt-10 mb-4 flex gap-6 justify-end">
    <%= link_to "Edit this friend", edit_friend_path(@friend), class:"bg-gray-800 text-white px-4 py-2 rounded" %> 

    <%= button_to "Destroy this friend", @friend, method: :delete , class:"bg-red-700 text-white px-4 py-2 rounded" %>
    <%= link_to "Back to friends", friends_path, class:"text-lg font-normal mt-1" %>
  </div>
</div>



 