

<div class="bg-gray-100 mx-auto w-1/3 p-6 rounded-md mt-10">
<h2 class="pb-5 text-3xl font-medium capitalize text-center">Log in</h2>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:'px-3 w-full h-8 border rounded mt-1' %>
  </div>

  <div class="field mt-4">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password", class:'px-3 w-full h-8 border rounded mt-1'  %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field flex justify-end mt-5 gap-2">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

    <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
    <%= link_to "Forgot your password?", new_password_path(resource_name), class:'px-3 w-full h-8 border rounded mt-1' %><br />
  <% end %>

  <div class=" gap-5 pb-3">
    <button class="w-full">
      <%= f.submit "Log in", class:'bg-gray-800 w-full h-10 rounded text-white font-medium mt-6' %>
    </button>
  </div>

  <%- if devise_mapping.registerable? && controller_name != 'registrations' %> 
    <%= link_to "Sign up if you don't have an Account", new_user_registration_path, class:"text-black" %>
  <% end %>

<% end %>

</div>


